body {
	height: fit-content;
	>div {
		flex-wrap: wrap;
		gap: 8px;
		padding: 8px;
		>div {
			padding: 8px;
			border: 1px dashed #767676;
			gap: 3px;
		}
		>div.changed {
			border: 1px solid #ff4040;
		}
	}
	>h3 {
		background-color: #767676;
		position: sticky;
		top: 0;
		padding: 8px 8px 8px 20px;
	}
}

div.character {
	display: grid;
	grid-template-columns: max-content 1fr;
	>.name {
		width: 16em;
	}
	>label, >button {
		grid-column: 1 / -1;
	}
	>label {
		display: flex;
		gap: 8px;
		>input {
			flex-basis: 0;
			flex-grow: 1;
		}
	}
}

div.fragment, div.reward {
	display: grid;
	grid-template-columns: repeat(4, calc(30em / 4));
	.name {
		grid-column: 3 / -1;
	}
	.lore {
		grid-column: 1 / -1;
		height: 4lh;
	}
	.skill_name {
		grid-column: 2 / -1;
	}
	button {
		grid-column: 1 / -1;
	}
}

div.skill {
	display: grid;
	grid-template-columns: max-content 1fr;
	.lore, .timing, .effect, button {
		grid-column: 1 / -1;
	}
	>textarea {
		width: 30em;
		height: 4lh;
		resize: none;
	}
}

div.player_fragment {
	display: grid;
	grid-template-columns: repeat(4, calc(30em / 4));
	.name, .lore {
		grid-column: 1 / -1;
	}
	.lore {
		height: 4lh;
	}
	.skill_name {
		grid-column: 2 / -1;
	}
	.update {
		grid-column: 1 / -2;
	}
}

div.load_players_fragments {
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	button {
		grid-column: 1 / -1;
	}
}

div.npc {
	flex-direction: column;
	gap: 6px;
	>div {
		gap: 6px;
	}
	.name {
		flex-basis: 0;
		flex-grow: 1;
	}
	.acronym, .color {
		width: 3em;
	}
	.word {
		width: 30em;
	}
	.status>label {
		display: flex;
		gap: 4px;
		>input {
			width: 4em;
		}
	}
	.skills, .rewards {
		flex-direction: column;
	}
	div.npc_skill {
		display: grid;
		grid-template-columns: max-content 1fr max-content;
		padding: 4px;
		border: 1px solid #767676;
		input[type="text"], button.add {
			grid-column: 1 / -1;
		}
		input[type="number"] {
			width: 4em;
		}
		input[type="text"] {
			width: 30em;
		}
	}
}
