body {
	height: fit-content;
	>div {
		flex-wrap: wrap;
		gap: 8px;
		padding: 8px;
		>div {
			padding: 8px;
			border: 1px dashed #767676;
			gap: 3px;
		}
		>div.changed {
			border: 1px solid #ff4040;
		}
	}
	>h3 {
		background-color: #767676;
		position: sticky;
		top: 0;
		padding: 8px 8px 8px 20px;
	}
}

div.fragment {
	display: grid;
	grid-template-columns: repeat(4, calc(30em / 4));
	.name {
		grid-column: 3 / -1;
	}
	.lore {
		grid-column: 1 / -1;
		height: 4lh;
	}
	.skill_name {
		grid-column: 2 / -1;
	}
	button {
		grid-column: 1 / -1;
	}
}

div.skill {
	display: grid;
	grid-template-columns: max-content 1fr;
	.lore, .timing, .effect, button {
		grid-column: 1 / -1;
	}
	>textarea {
		width: 30em;
		height: 4lh;
		resize: none;
	}
}

div.player_fragment {
	display: grid;
	grid-template-columns: repeat(4, calc(30em / 4));
	.name, .lore {
		grid-column: 1 / -1;
	}
	.lore {
		height: 4lh;
	}
	.skill_name {
		grid-column: 2 / -1;
	}
	.update {
		grid-column: 1 / -2;
	}
}

div.load_players_fragments {
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	button {
		grid-column: 1 / -1;
	}
}