#main {
	flex-direction: column;
	text-align: center;
	h1 {
		font-weight: normal;
		border-bottom: 1px solid #767676;
	}
	div {
		margin: 4px auto;
		gap: 20px;
	}
}
#form {
	opacity: 0;
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #202020f0;
	transition: opacity 200ms;
	>* {
		position: fixed;
		left: 50vw;
		top: 50vh;
		padding: 8px;
		border: 1px solid #767676;
		transform: translate(-50%, -50%);
		flex-direction: column;
		gap: 8px;
		transition: opacity 1s;
		p {
			width: 30em;
		}
		>label {
			display: flex;
			justify-content: space-between;
			>.submit {
				margin-left: auto;
			}
			>p>button {
				margin-left: 4px;
			}
		}
		>div {
			flex-direction: column;
			gap: 4px;
			select {
				width: 16em;
			}
		}
	}
}
#blank {
	margin-bottom: 45vh;
}
.desc {
	width: fit-content;
	margin: 20px 0 20px 4em;
	flex-direction: column;
	>h2, >div {
		border: 1px #767676;
		border-style: none none solid solid;
	}
	>h2 {
		padding: 0 12px;
		font-size: 120%;
		font-weight: normal;
	}
	>div {
		margin-bottom: 20px;
		padding: 12px;
		display: block;
		div, dl {
			margin: 12px 0;
			padding: 12px;
			border-radius: 8px;
			border: 1px solid #767676;
			background-color: #202020f0;
		}
		cite {
			text-align: end;
		}
		div {
			flex-direction: column;
		}
		dl {
			>dd {
				border-bottom: 1px solid #767676;
				font-size: 16px;
			}
			>dt {
				margin-left: 2em;
			}
			>dt+dd {
				margin-top: 12px;
			}
		}
	}
}